/*Defining classes*/

/*Sets up top nav bar*/
.top {
  width: 100%;
}

/*Separates elements of top nav bar*/
.top_element {
  text-align: center;
  float: left;
  position: relative;
  width: 26.67%;
  margin-left: 5%;
  font-size: 30px
}

/*Home page background*/
body {
  background: black url(../images/lines2.gif) no-repeat fixed center;
  /*Animation*/
  -webkit-animation: pageloadt 5s ; /* Chrome, Safari, Opera */
  animation: pageload 5s ;
}

/*Transitions*/
/* Chrome, Safari, Opera */
@-webkit-keyframes pageload {
  from {opacity: 0.2;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes pageload {
  from {opacity: 0.2;}
  to {opacity: 1;}
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Hacked";
  src: url(../fonts/hacked/HACKED.ttf);
}

/*HTML tags*/

/*Changes all elements within div tags*/
div {
  font-family: "Courier";
  color:white;
}

/*Changes all elements within body tags*/
body {
  font-family: sans-serif;
}

/*Changes all elements within header tags*/
header {
  margin-left: 5%;
  margin-right: 5%;
}

/*Changes all elements within section tags*/
section {
  clear:both;
  float:center;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 15px;
  position: fixed;
  bottom: 10%
}

article {
  clear:both;
  font-size: 15px;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 99%;
}

/*Changes a href elements*/
a {
  font-family: "Courier";
  color:white;
  text-decoration: none;
  font-size: 14px
}

/*Changes horizontal line elements*/
hr {
  border-top: 1px;
  color:white;
}
